#peticion{
	width: 20%;
	order: 1;
}

#getInfo{
	order: 2;
	width: 20%;
}

#search{
	display: flex;
	flex-direction: row;
}

#getRegister{
	width: 20%;
	order: 1;
}

#registerOk{
	order: 2;
	width: 20%;
}

#register{
	display: flex;
	flex-direction: row;
}
#getRemove{
	width: 20%;
	order: 1;
}

#removeOk{
	order: 2;
	width: 20%;
}

#remove{
	display: flex;
	flex-direction: row;
}

