fieldset{
	border: 2px solid #FFFFFF;
}
/*#peticion{
	padding-left: 1%;
	border: 2px solid #FFFFFF;
	width: 20%;
	order: 1;
}*/
#peticion{	
	min-width: 20%;
	order: 1;
}

#getInfo{
	padding-left: 1%;
	margin-left: 2%;
	border: 2px solid #FFFFFF;
	order: 2;
	min-width: 20%;
}

#search{
	display: flex;
	flex-direction: row;
}

#nameRegister{
	text-align: right;
	min-width: 18%;
	order: 1;
}

#getRegister{
	border-right: 2px solid #FFFFFF;
	padding-left: 2%;
	min-width: 20%;
	order: 2;
}

#submitRegister{
	padding-top: 5%;
	padding-left: 2%;
	order: 3;
	display: flex;
	flex-direction: column;
}

#processRegister{
	padding: 2%;
	order: 1;
	min-width: 20%;
}

#registerOk{
	padding-top: 2%;
	order: 2;
	min-width: 20%;
	
}

#register{
	margin-top: 1%;
	border: 2px solid #FFFFFF;
	display: flex;
	flex-direction: row;
}

#nameRemove{
	text-align: right;
	min-width: 18%;
	order: 1;
}

#getRemove{ 
	border-right: 2px solid #FFFFFF;
	padding-left: 2%;
	min-width: 20%;
	order: 2;
}

#submitRemove{
	padding-top: 2%;
	padding-left: 2%;
	order: 3;
	display: flex;
	flex-direction: column;
}

#processRemove{
	padding: 2%;
	order: 1;
	min-width: 20%;
}

#removeOk{
	padding-top: 2%;
	order: 2;
	min-width: 20%;
}

#remove{
	margin-top: 1%;
	border: 2px solid #FFFFFF;
	display: flex;
	flex-direction: row;
}

#actualizacion{
	padding-left: 2%;
	margin-top: 1%;
}

.tg{
	width: 50%;
	text-align: center;
	border-collapse:collapse;
}

.t1{
	border-bottom: 2px solid #FFFFFF;
}

.t2{
	border-right: 2px solid #FFFFFF;
}

.t3{
	border-right: 2px solid #FFFFFF;
}

.t4{
}
.myStyle{
	width: 80%;
}