* { box-sizing:border-box; }

body{
	font-family: Helvetica;
  background: #1f1f1f;
  color: #bfbfbf;
  -webkit-font-smoothing: antialiased;
}

h1{
  word-spacing: 10px;
  color: #ff7a05;
  text-shadow: 1px 1px black;
}

h1, h3 { font-weight: 300; }

h2{
  font-weight: bold;
}

h3 { color: #4a89dc; }

h4 { color: #6aac89; }

a{
  font-family: verdana;
  text-decoration: none;
  color: inherit;
}
#MenuBar li{
  display : inline-block;
  font-family: verdana;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
  width: 100px;
  bottom: 100px;

  background-color: black;
  border: 1px solid #ff7a05;
}

#MenuBar li:hover{
  background-color: #2e2e2e;
}

#menuBar{
  position: absolute;
  top: e2m;
}

#menuBox{
  width: 100px;
  bottom: 100px;
}

footer { text-align: center; }

footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}

footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}

footer a:hover {
	color: #666;
	text-decoration: underline;
}

footer img {
	width: 80px;
	transition: all .2s ease;
}

footer img:hover { opacity: .83; }