.group{
  margin-top: 25px;
  min-width: 200px;
  width: 200px;
}

.groupType{
  margin-top: 25px;
  min-width: 400px;
  width: 400px;
}

.groupConform{
  margin-top: 25px;
  min-width: 500px;
}

.groupText{
  margin-top: 25px;
  min-width: 260px;
  width: 260px;
  border: 10px ridge  grey;
}
