.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-around;
  
}
.cell {
  flex: 0 0 31%;                       /* don't grow, don't shrink, width */
  height: 180px;
  margin-bottom: 5px;
  border: 3px solid #cc6600;
  border-radius: 5px;
}

.emptyCell {
  background-color: #1f1f1f;
}

.filledCell {
  background-color: #999;
}

.cell:nth-child(3n) {
  
}

.noStation {
  color: #333333;
}

.stationOn {
  color: #227722;
}

.stationOff {
  color: #772222;
}