canvas{
    pointer-events: none;       /* make the canvas transparent to the mouse - needed since canvas is position infront of image */
    position: absolute;
}

#viewSelector{
  text-align: center;
  margin-bottom: 20px;
}

.Map{
  text-align: center;
}

.span{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 3;
  width: 740px;
  height: 390px;
  left: 20%;
  top: 15%;
  background: #1b1b1b;
  border: 10px double #cc6600;
  border-radius: 15px;
  text-align: left;
  padding: 10px;
}

.fog{
  visibility: collapse;
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background: #000000;
  overflow: visible;
}
.span button{
  background: #d98f34;
  background-image: -webkit-linear-gradient(top, #d98f34, #d98f34);
  background-image: -moz-linear-gradient(top, #d98f34, #d98f34);
  background-image: -ms-linear-gradient(top, #d98f34, #d98f34);
  background-image: -o-linear-gradient(top, #d98f34, #d98f34);
  background-image: linear-gradient(to bottom, #d98f34, #d98f34);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  text-shadow: 1px 2px 3px #666666;
  color: #000000;
  font-size: 15px;
  padding: 4px 12px 4px 12px;
  text-decoration: none;
}

.spam button:hover {
  background: #f5c387;
  background-image: -webkit-linear-gradient(top, #f5c387, #f5c387);
  background-image: -moz-linear-gradient(top, #f5c387, #f5c387);
  background-image: -ms-linear-gradient(top, #f5c387, #f5c387);
  background-image: -o-linear-gradient(top, #f5c387, #f5c387);
  background-image: linear-gradient(to bottom, #f5c387, #f5c387);
  text-decoration: none;
}

#PBMap{
  text-align: center;
}

#galleryBlock{
  display: none;
  text-align: center;
  margin-top: 15px;
}

.galleryRow{
  width: 99%;
  display: block;
  padding: 10px 0 10px 0;
  margin: 0;
}

.galleryFloor{
  display: inline-block;
  width: 90px;
  left: 0;
  text-align: center;
  vertical-align: top;
  margin: 0 20px 0 0px;
  border:2px solid #cc6600;
  border-radius: 8px;
}

.galleryFloorList{
  display: inline-block;
  position: relative;
  opacity: 0;
  width: 80%;
  text-align: left;
  border:3px solid #bfbfbf;
  border-radius: 10px;
}

.galleryFloorOverPanel{
  display: inline-block;
  position: relative;
  opacity: 1;
  width: 80%;
  height: 100%;
  border: 1px solid blue;
  text-align: left;
  z-index: 1;
}

.galleryFloorList ul{
  margin: 0;
  padding: 0;
}

.galleryFloorElement{
  text-align: center;
  display: inline-block;
  width: 120px;
  margin: 5px;
}

.galleryFloor img, .galleryFloorElement img{
  width: 90px;
  height: 90px;
  border-radius: 3px;
}
