form {
	width: 380px;
	margin: 25px auto;
	padding: 3em 2em 2em 2em;
	background: #454545;
	border: 2px solid #bfbfbf;
  border-radius: 4px;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
	position: relative;
	margin-bottom: 40px;
	text-align: center;
}

input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: #1f1f1f;
	color: #cc7700;
	width: 100%;
	border: none;
	border-radius: 2px;
	border-bottom: 1px solid #777;
}

input:focus { outline: none; }


/* Label */

label {
	color: #bfbfbf;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input:valid ~ label, input:disabled ~ label {
	animation:mymove 0.2s;
	animation-fill-mode: forwards;
    -webkit-animation: mymove 0.2s; /*Safari and Chrome*/
	-webkit-animation-fill-mode: forwards;
}

@keyframes mymove {
    from {top: 0px; left: 0px; transform: scale(1);	color: #bfbfbf;}
    to {top: -20px; left: -2px; transform: scale(.75); color: #bfbfbf;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/ {
    from {top: 0px; left: 0px; transform: scale(1); color: #bfbfbf;}
    to {top: -20px; left: -2px; transform: scale(.75); color: #bfbfbf;}
}



/* Underline */

.bar {
	position: relative;
	display: block;
  margin: 0;
	width: 103%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #cc6600;
	transition: all 0.3s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


/* Animations */

@keyframes inputHighlighter {
	from { width: 30%; background: #ff953b; }
	to 	{ width: 0; background: transparent; }
}


/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: 0 0 1em 0;
  width: 100%;
  vertical-align: middle;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #999;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }

.backgroundButton  {
  padding: 8px 12px;
  margin: .3em 0 1em 0;
  width: 50%;
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  border-bottom: 2px solid #ff953b;
}

/* Button modifiers */

.buttonGrey {
  background: #888;
  text-shadow: 1px 1px 0 rgba(153, 153, 153, 0.8);
}

.buttonGrey:hover { background: #686868;   color: #222;   text-shadow: 1px 1px 0 rgba(120, 120, 120, 0.8);
}

.buttonOrange {
  background: #cc6600;
  text-shadow: 1px 1px 0 rgba(149, 57, 0, 0.8);
}

.buttonOrange:hover { background: #953900; }

/* Ripples container */

.ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent;
}


/* Ripples circle */

.ripplesCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
  animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
  0% { opacity: 0; }

  25% { opacity: 1; }

  100% {
    width: 200%;
    padding-bottom: 200%;
    opacity: 0;
  }
}

#warningMessage a {
  	text-decoration: none;
    color: #ff953b;
}
