.sidebarLeft ul{
	margin: 10px;
	list-style-position: inside;
	height: 100%;
	padding-left: 0%;
}
.sidebarLeft button{
	background: transparent;
	color: #bfbfbf;
	width: 90%;
	margin-left: 5%;
	margin-top: 15%;
	padding: 10%;
	font-size: 100%;
	outline: none;
	border:4px solid #bfbfbf;
	border-radius: 10px;
}

.sidebarLeft button:hover, button:focus{
	background: #0d0d0d;
	border: solid #cc6600 3px;
	transform : scale(1.1);
		-moz-transform : scale(1.1); /* Firefox */
		-webkit-transform : scale(1.1); /* Chrome - Safari */
		-o-transform : scale(1.1); /* Opera */
		-ms-transform : scale(1.1); /* IE9 */
	-webkit-transition: 0.25s ease-out;
	transition: 0.25s ease-out;
}

.sidebarLeft li{
	list-style-type: none;
}

.projectElem{

	border: solid rgb(204, 102, 0) 5px;
	border-radius: 40px;
	padding: 40px;
	color: #bfbfbf;
	margin: 40px;
}

#sensores{
	padding: 5%;
	height: 460px;
	width: 90%;
}

#sensorTH{
	/*vertical-align: middle;*/
	float: right;
	margin-right: 30px;
	margin-left: 15px;
	height: 100px;
	width: 100px;
}
#LAMPIM{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 40px;
}

#about{
}

#Image{
  display: inline;
}
#AboutImage{
  display: inline;
}
#MoreAbout{
	clear: both;
}
