#sidebar ul{
	list-style-position: inside;
	height: 100%;
	padding-left: 0%; 
}
#sidebar button{
	background: transparent;
	border: none;
	border-radius: 45%;
	color: #bfbfbf;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 35%;
	padding: 10%;
	font-family: verdana;
	font-size: 100%;
	height: 25%;	

}

#sidebar button:hover{
	background: orange;
	color: black;
}
#sidebar li{
	list-style-type: none;

}
.projectElem{
	border: solid orange 5px;
	border-radius: 40px;
	padding: 20px;
	color: #bfbfbf;
}