
#barraImagenes{
	margin: 10%;
}

#barraImagenes li{
	letter-spacing: none;
	padding: 1%;
	bottom: 100px;
	display : inline-block;
	font-family: verdana;
	font-size: 15px;
	letter-spacing: none;
	list-style-type: none;
	margin-left: 20px;
	text-align: center;
	width: 100px;
	margin-bottom: 50px;
}
.im{
	position: relative;
}
.im img{
	position: absolute;
	border-radius: 100px;
	border: solid transparent 5px;

}
.happy{
	opacity: 0;
}
.happy:hover{
	opacity: 1;
	border: solid rgb(204, 102, 0) 5px;
	border-radius: 100px;

	transform : scale(1.1);
	-moz-transform : scale(1.1); /* Firefox */
	-webkit-transform : scale(1.1); /* Chrome - Safari */
	-o-transform : scale(1.1); /* Opera */
	-ms-transform : scale(1.1); /* IE9 */
	-webkit-transition: 0.8s ease-out;
	transition: 0.8s ease-out;
	transition: opacity 0.8s ease-in-out;
}
img{
	width: 125px;
	height: 125px;
}
.descripcionPersonal {
	border: 5px solid;
	border-color: rgb(204, 102, 0);
    border-radius: 25px;
	margin: 70px;
	padding: 10px;
	
}

.descripcionPersonal li{
	display : inline-block;
	font-family: verdana;
	font-size: 15px;
	margin-top: 100px;
	list-style-type: none;
	text-align: center;

}
.descripcionPersonal img{
	margin-right: 25px; 
	height: 60px;
	width: 60px;


}