#barraImagenes{
	margin: 5%;
	min-width: 850px;
}

#barraImagenes li{
	margin: 25px;
	display : inline-block;
	list-style-type: none;
	width: 100px;
	margin-bottom: 20px;
	position: relative;
}

#barraImagenes img{
	width: 125px;
	height: 125px;
}

.photo{
	position: relative;
}

.photo img{
	border-radius: 100px;
	border: solid #bfbfbf 7px;
}

.photo img:hover{
	border: solid #cc6600 7px;
}

.photo img, .photo img:hover{
	transition: all .4s ease;
}

#azahara{
	background: url("../images/as1045x1045.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#azahara:hover{
	background: url("../images/ah1045x1045.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#diego{
	background: url("../images/ds10333x1033.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#diego:hover{
	background: url("../images/dh10333x1033.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}

#sergio{
	background: url("../images/ss1133x1133.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#sergio:hover{
	background: url("../images/sh1133x1133.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#julio{
	background: url("../images/js1235x1235.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#julio:hover{
	background: url("../images/jh1235x1235.jpg");
	background-size: contain;
	background-repeat: no-repeat;
}
#javier{
	background: url();
	background-size: contain;
	background-repeat: no-repeat;
}
#javier:hover{
	background: url();
	background-size: contain;
	background-repeat: no-repeat;
}

.descripcionPersonal {
	border:solid #cc6600 5px ;
	border-color: rgb(204, 102, 0);
    border-radius: 25px;
	margin: 70px;
	padding: 10px;

}

.descripcionPersonal li{
	display : inline-block;
	font-family: verdana;
	font-size: 15px;
	margin-top: 100px;
	list-style-type: none;
	text-align: center;

}
.descripcionPersonal img{
	margin-right: 25px;
	height: 60px;
	width: 60px;


}
