
#barraImagenes{
	margin: 10%;
}

#barraImagenes li{
	letter-spacing: none;
	padding: 1%;
	bottom: 100px;
	display : inline-block;
	font-family: verdana;
	font-size: 15px;
	letter-spacing: 10px;
	list-style-type: none;
	margin-left: 20px;
	text-align: center;
	width: 100px;
}
#barraImagenes button{
	color: transparent;
    outline: none;
	background: #1f1f1f;
	border: dotted transparent 3px;
	/*border: solid orange 5px;*/
}
#barraImagenes button:hover{
	color: #bfbfbf;
	
	transform : scale(1.1);
		-moz-transform : scale(1.1); /* Firefox */
		-webkit-transform : scale(1.1); /* Chrome - Safari */
		-o-transform : scale(1.1); /* Opera */
		-ms-transform : scale(1.1); /* IE9 */
		-webkit-transition: 0.25s ease-out;
	transition: 0.35s ease-out;
	/*border: solid orange 5px;*/
}

#im{
	border: solid transparent 1px;
	border-radius: 60px;
	margin: 6px;
}
#im:hover{
	border: solid rgb(204, 102, 0) 5px;

	transform : scale(1.1);
		-moz-transform : scale(1.1); /* Firefox */
		-webkit-transform : scale(1.1); /* Chrome - Safari */
		-o-transform : scale(1.1); /* Opera */
		-ms-transform : scale(1.1); /* IE9 */
		-webkit-transition: 0.25s ease-out;
	transition: 0.35s ease-out;
	/*border: solid orange 5px;*/
}

.descripcionPersonal {
	border: 5px solid;
	border-color: rgb(204, 102, 0);
    border-radius: 25px;
	margin: 70px;
	padding: 10px;
	
}

.descripcionPersonal li{
	display : inline-block;
	font-family: verdana;
	font-size: 15px;
	margin-top: 100px;
	list-style-type: none;
	text-align: center;

}
.descripcionPersonal img{
	border-image: solid rgb(204, 102, 0) 5px;
	margin-right: 25px; 
	height: 60px;
	width: 60px;


}
