<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title id="webTitle">Administration</title>
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/adminView.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/adminView.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
  </head>

  <body>
  <div id="contenedor">
      <div class="">
      <h2 id="arduinoRasPiHeader"></h2>
    </div>
    <div id="MenuBar">
      <ul>
                <li>
          <a id="navHome" href="../index.html"></a>
        </li>
        <li>
          <a id="navTeam" href="./equipo.html"></a>
        </li>
        <li>
          <a id="navDetails" href="./details.html"></a>
        </li>
        <li>
          <a id="navLog" href="./bitacora.html"></a>
        </li>
        <li>
          <a id="navContact" href="./contacto.html"></a>
        </li>
        <li>
          <a id="navAdmin" href="#"></a>
        </li>
        <li>
          <a id="navLogOut" href="./login.html"></a>
        </li>
      </ul>
    </div>

    
    

	<div id="search">
		<div id="peticion">
			<p>SEARCH</p>
			<p>
			   <select class="mySearch" name="numero">
				 <option>- Nº SensePi -</option>				
				  <option value="1">#1</option>
				 <option value="2">#2</option>
				 <option value="3">#3</option>
			   </select>
			</p>
			<p>
			   <select class="mySearch" name="nombre">
				 <option>- Location -</option>
				 <option value="cafeteria">CAFETERIA</option>
				 <option value="biblioteca">BIBLIOTECA</option>
				 <option value="hall">HALL</option>
			   </select>
			</p>
			<p>
			<input  onclick="getInfoClick()" type="submit" value="Search" />
			</p>
		</div>
		<div id="getInfo" style="display: none">
			<p>LOCATION: CAFETERIA</p>
			<p>SINCE: 21/03/2017</p>
			<p>MOVED BY: AZAHARA</p>
			<p>REGS X DAY: 2.5</p>
		</div>		
	</div>
	<div id="register">
		<div id="nameRegister">
			<p>Register New SensePi</p>
			<p> Register By:	</p>
			<p> Location: </p>
			<p> Expected regs: </p>
			<p> Technical: </p>
			
		</div>
		<div id="getRegister">
			<pre> </pre>
			<p><input class="myRegister" type="text" name="nombreadmin"></p>
			<p><input class="myRegister" type="text" name="location"></p>
			<p><input class="myRegister" type="text" name="register"></p>
			<p><input class="myRegister" type="text" name="technical"></p>
		</div>
		<div id="submitRegister">
			<div id="processRegister">
				<input  onclick="registerClick()" type="submit" value="PROCESS" />
			</div>
			<div id="registerOk" style="display: none">
				<p>The SensePi has been registered</p>
			</div>
	  </div>
			
	</div>
	<div id="remove">
		<div id="nameRemove">
			<p>Remove SensePi</p>
			<p> Location: </p>
			<p> Number SensePi: </p>
			
		</div>
		<div id="getRemove">
			<pre> </pre>
			<p> 
				<select class="myRemove" name="nombre">
				 <option value="cafeteria">CAFETERIA</option>
				 <option value="biblioteca">BIBLIOTECA</option>
				 <option value="hall">HALL</option>
			   </select>
			</p>
			<p>
			   <select class="myRemove" name="numero">
				 <option value="1">#1</option>
				 <option value="2">#2</option>
				 <option value="3">#3</option>
			   </select>
			</p>
		</div>
		<div id="submitRemove">
			<div id="processRemove">
				<input  onclick="removeClick()" type="submit" value="PROCESS" />
			</div>
			<div id="removeOk" style="display: none">
				<p>The SensePi has been removed</p>
			</div>
		</div>
			
	</div>
	<div id="actualizacion">
		<table id="tg">
		  <tr>
			<th id="t1">DASHBOARD</th>
			<th id="t1">LOCATION</th>
			<th id="t1">LAST UPDATE</th>
		  </tr>
		  <tr>
			<td id="t2">#1</td>
			<td id="t3">CAFETERIA</td>
			<td id="t4">18/03/2017 14:30</td>
		  </tr>
		  <tr>
			<td id="t2">#2</td>
			<td id="t3">AULA 8</td>
			<td id="t4">20/03/2017 11:00</td>
		  </tr>
		  <tr>
			<td id="t2">#3</td>
			<td id="t3">BIBLIOTECA P1</td>
			<td id="t4">19/03/2017 17:20</td>
		  </tr>
		  <tr>
			<td id="t2">#4</td>
			<td id="t3">PASILLOS</td>
			<td id="t4">17/03/2007 12:50</td>
		  </tr>
		</table>
			
	</div>
</div>
 
      <!-- FOOTER CLASS -->
      <div id="footer">
        <a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html">SensePi</a>
        <a id="footerSentence" href="https://informatica.ucm.es/" target="_blank">, un proyecto de alumnos para la FdI</a>
      </div>

    <!-- END WRAPPER CLASS -->
    

  </body>
</html>