<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <title id="Bocetos"></title>
  </head>

  <body>

    <h1 >Bocetos</h1>


    <h2>PÁGINA PRICIPAL</h2>
    <p>El usuario puede acceder al resto de vistas desde aquí, aunque en general,
      siempre dispondra de un menu anclado en la zona superior</p>
    <img src="../images/bocetos/index.bmp" alt="Main View" style="border:5px solid grey"/>
    <h2>PÁGINA PRINCIPAL INTERACTIVA</h2>
    <p>Un usuario registrado, ademas, es capaz de obtener gráficas e información
      adicional al hacer click en alguna ubicación del plano</p>
    <img src="../images/bocetos/index-map_focus.bmp" alt="Map focus" style="border:5px solid grey"/>
    <h2>LOGIN and Register</h2>
    <p>Al acceder al icono de registro en el menu, el usuario se encontrara con
      la vista de registro/login, donde puede dar de alta un nuevo usuario
        o acceder con un usuario ya registrado</p>
    <img src="../images/bocetos/login.bmp" alt="login view" style="border:5px solid grey"/>
    <h2>PAGINA DE USUARIO</h2>
    <p>Al logearse, un usuario sera redirigido a su página de usuario, donde puede
    consultar rapidamente sus localizaciones favoritas o consultar las opiniones
    de EMMA</p>
    <img src="../images/bocetos/user.bmp" alt="user view" style="border:5px solid grey"/>
	    <h2>ADMINISTRACIÓN</h2>
    <p>Los usuarios con rango de administrador podran gestionar las "PiSense"
      repartidas por el edificio, reubicarlas, o generar nuevas por arte de mágia</p>
    <img src="../images/bocetos/admin.bmp" alt="Admin view" style="border:5px solid grey"/>
    <h2>CONTACTO</h2>
    <p>Todos los usuarios dispondran de las vistas "públicas" como el contacto </p>
    <img src="../images/bocetos/contact.bmp" alt="contact view" style="border:5px solid grey"/>
    <h2>PROYECTO</h2>
    <p>Al tratarse de un proyecto basado en tecnologia libre y gratuita, nos parece
    razonable al mundo entero explicar como conseguir lo que ofrecemos a nuestros
    visitantes. Nosotros no lo habriamos logrado sin la generosidad de otros!!</p>
    <img src="../images/bocetos/proyect.bmp" alt="proyect vie" style="border:5px solid grey"/>
    <h2>EQUIPO</h2>
    <p>Los auto-endiosados creadores de la página podran dejar fluir su ego y
    promocionarse en la red, dandose a conocer al mundo entero.</p>
    <img src="../images/bocetos/team.bmp" alt="team view" style="border:5px solid grey"/>
  </body>

  <footer>
    <a href="https://www.mundocero.tech/" target="_self"><img src="../images/icons/zero.png"></a>
    <p><a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html"></a><a id="footerSentence" href="https://informatica.ucm.es/" target="_blank"></a></p>
  </footer>

</html>
