<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/contacto.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/contacto.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>

    <div class="">
      <h1 id="webHeader"></h1>
    </div>
    <div class="">
      <h2 id="arduinoRasPiHeader"></h2>
    </div>
    <div id="MenuBar">
      <ul>
        <li>
          <a id="navHome" href="../index.html"></a>
        </li>
        <li>
          <a id="navTeam" href="../views/equipo.html"></a>
        </li>
        <li>
          <a id="navDetails" href="../views/details.html"></a>
        </li>
        <li>
          <a id="navLog" href="../views/bitacora.html"></a>
        </li>
        <li>
          <a id="navContact" href="#"></a>
        </li>
        <li>
          <a id="navLogIn" href="../views/login.html"></a>
        </li>
      </ul>
    </div>

    <div class="divContactForm">
      <form class="contactForm" action=mailto:"dvalbuen@ucm.es" method="post">
        <div class="group">
          <input type="text"
                id="nameContac" class="field"
                required autofocus>
          <span class="highlight"></span><span class="bar"></span>
          <label id="nickLabel"></label>
        </div>

        <div class="group">
          <input type="text"
                id="emailContact" class="field"
                required>
          <span class="highlight"></span><span class="bar"></span>
          <label id="emailLabel"></label>
        </div>

        <div class="group">
          <input type="radio" name="radioClass" class="field" value="male" checked><span id="evaluation"></span>
          <input type="radio" name="radioClass" class="field" value="male"><span id="suggest"></span>
          <input type="radio" name="radioClass" class="field" value="male"><span id="review"></span>
        </div>

        <div class="group">
          <p id="textArea"></p>
          <textarea id="emailText" rows="10" cols="30">
          </textarea>
        </div>

        <div class="group">
          <input type="checkbox" name="conform" value="conformity" /><span id="accordance" ></span>
        </div>
      </form>
    </div>

  </body>

  <footer>
    <a href="https://www.mundocero.tech/" target="_self"><img src="../images/icons/zero.png"></a>
    <p><a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html"></a><a id="footerSentence" href="https://informatica.ucm.es/" target="_blank"></a></p>
  </footer>

</html>
