<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/equipo.css"/>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>
		<h3>Diego Valbuena Pineda</h3>
		<p>dvalbuen@ucm.es</p>
		<IMG SRC="../images/diego.jpg">
		<p>Intereses: Videojuegos, guitarra, tecnologias web, hardware e IoT y programaci&oacute;n en arduino.</p>
  </body>
  

</html>