<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/equipo.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/equipo.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>

    <div class="">
      <h1 id="webHeader"></h1>
    </div>
    <div class="">
      <h2 id="arduinoRasPiHeader"></h2>
    </div>
    <div id="MenuBar">
      <ul>
        <li id ="menuBox">
          <a id="navHome" href="../index.html"></a>
        </li>
        <li id ="menuBox">
          <a id="navTeam" href="#"></a>
        </li>
        <li id ="menuBox">
          <a id="navHardware" href="../views/hardware.html"></a>
        </li>
        <li id ="menuBox">
          <a id="navLog" href="../views/bitacora.html"></a>
        </li>
        <li id ="menuBox">
          <a id="navLogIn" href="../views/login.html"></a>
        </li>
      </ul>
    </div>

    No definido

  </body>

  <footer>
    <a href="https://www.mundocero.tech/" target="_self"><img src="../images/icons/zero.png"></a>
    <p><a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html"></a><a id="footerSentence" href="https://informatica.ucm.es/" target="_blank"></a></p>
  </footer>

</html>