<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/equipo.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/equipo.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>

    <title>Equipo</title>
  </head>

  <body>

    <h1>Equipo</h1>

    <a href="../index.html">Volver al índice</a><br></br>


  <ul>  
    <li><a href="#diego">Diego</a></li>
    <li><a href="#azahara">Azahara</a></li>
    <li><a href="#sergio">Sergio</a></li>
    <li><a href="#javier">Javier</a></li>
    <li><a href="#julio">Enrique Julio</a></li>
</ul>
	<h3 id="diego">Diego Valbuena Pineda</h3>
	<p>dvalbuen@ucm.es</p>
	<img src="../images/diego.jpg">
	<p>Intereses: Videojuegos, guitarra, tecnologías web, hardware e IoT y programación en Arduino.</p>

	<h3 id="azahara">Azahara Fernández Notario</h3>
	<p>azaferna@ucm.es</p>
	<img src="../images/azahara.jpg">
	<p>Intereses: Aplicaciones web y terminar la carrera.</p>

	<h3 id="sergio">Sergio Calero Robles</h3>
	<p>secalero@ucm.es</p>
	<IMG SRC="../images/sergio.jpg">
	<p>Intereses: Desarrollo de aplicaciones web, desarrollo de videojuegos, baloncesto y libros de ciencia ficción.</p>
  
	<h3 id="javier">Javier de la Oliva Sánchez-Valladares</h3>
	<p>jaoliva@ucm.es</p>
	<img src="../images/javier.jpg">
	<p>Intereses: Aplicaciones web, música y terminar la carrera.</p>
	
	<h3 id="julio">Enrique Julio de la Cruz Valderrama</h3>
	<p>endela01@ucm.es</p>
	<img src="../images/julio.jpg">
	<p>Intereses: Aplicaciones web y terminar la carrera.</p>
	
  </body>
  
</html>