<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/equipo.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/equipo.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>

    <div class="">
      <h1 id="webHeader"></h1>
    </div>
    <div class="">
      <h2 id="arduinoRasPiHeader"></h2>
    </div>
    <div id="MenuBar">
      <ul>
        <li>
          <a id="navHome" href="../index.html"></a>
        </li>
        <li>
          <a id="navTeam" href="#"></a>
        </li>
        <li>
          <a id="navDetails" href="../views/details.html"></a>
        </li>
        <li>
          <a id="navLog" href="../views/bitacora.html"></a>
        </li>
        <li>
          <a id="navContact" href="../views/contacto.html"></a>
        </li>
        <li>
          <a id="navLogIn" href="../views/login.html"></a>
        </li>
      </ul>
    </div>

  <ul>  
<li ><a href="#diego">Diego</a></li>
<li ><a href="#azahara" >Azahara</a></li>
<li ><a href="#sergio" >Sergio</a></li>
<li ><a href="#javier" >Javier</a></li>
<li ><a href="#julio" >Enrique Julio</a></li>
</ul>
	<h3 id="diego">Diego Valbuena Pineda</h3>
	<p>dvalbuen@ucm.es</p>
	<IMG SRC="../images/diego.jpg">
	<p>Intereses: Videojuegos, guitarra, tecnologias web, hardware e IoT y programaci&oacute;n en arduino.</p>

	<h3 id="azahara">Azahara Fern&aacute;ndez Notario</h3>
	<p>azaferna@ucm.es</p>
	<IMG SRC="../images/azahara.jpg">
	<p>Intereses: Aplicaciones web y terminar la carrera.</p>

	<h3 id="sergio">Sergio Calero Robles</h3>
	<p>secalero@ucm.es</p>
	<IMG SRC="../images/sergio.jpg">
	<p>Intereses: Desarrollo de aplicaciones web, desarrollo de videojuegos, baloncesto y libros de ciencia ficci&oacute;n.</p>
  
	<h3 id="javier">Javier de la Oliva S&aacute;nchez-Valladares</h3>
	<p>jaoliva@ucm.es</p>
	<IMG SRC="../images/javier.jpg">
	<p>Intereses: Aplicaciones web, m&uacute;sica y terminar la carrera.</p>
	
	<h3 id="julio">Enrique Julio de la Cruz Valderrama</h3>
	<p>endela01@ucm.es</p>
	<IMG SRC="../images/julio.jpg">
	<p>Intereses: Aplicaciones web y terminar la carrera.</p>
	
  </body>
  

  <footer>
    <a href="https://www.mundocero.tech/" target="_self"><img src="../images/icons/zero.png"></a>
    <p><a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html"></a><a id="footerSentence" href="https://informatica.ucm.es/" target="_blank"></a></p>
  </footer>

</html>