<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/hardware.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/hardware.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>

    <div class="menuBar">
      <ul>
        <li>
            <a href="../index.html" target="_self"><img src="../images/icons/zero.png"></a>
        </li>
        <li>
          <a id="navHome" href="#"></a>
        </li>
        <li>
          <a id="navTeam" href="../views/equipo.html"></a>
        </li>
        <li>
          <a id="navHardware" href="../views/hardware.html"></a>
        </li>
        <li>
          <a id="navLog" href="../views/bitacora.html"></a>
        </li>
        <li
          <a id="navLogIn" href="../views/login.html"></a>
        </li>
      </ul>
    </div>

    Hardware magico

  </body>

  <footer>
    <a href="https://www.mundocero.tech/" target="_self"><img src="../images/icons/zero.png"></a>
    <p><a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html"></a><a id="footerSentence" href="https://informatica.ucm.es/" target="_blank"></a></p>
  </footer>

</html>
