<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/equipo.css"/>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>
		<h3>Enrique Julio de la Cruz Valderrama</h3>
		<p>endela01@ucm.es</p>
		<IMG SRC="../images/julio.jpg">
		<p>Intereses: Aplicaciones web y terminar la carrera.</p>
  </body>
  

</html>