<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title id="webTitle">Login</title>
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css"/>
    <link rel="stylesheet" type="text/css" href="../css/login.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/login.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
  </head>

  <body>

  	<!-- WRAPPER CLASS -->
  	<div id="wrapper">

      <!-- HEADER CLASS -->
      <div id="header">

        <nav class="mainNav">
          <ul>
            <li id="navHome">
              <a href="../index.html"><span>HOME</span></a>
            </li>
            <li id="navTeam">
              <a href="./team.html"><span>TEAM</span></a>
            </li>
            <li id="navProject">
              <a href="./project.html"><span>PROJECT</span></a>
            </li>
            <li id="navContact">
              <a href="./contact.html"><span>CONTACT</span></a>
            </li>
          </ul>
        </nav>

        <nav class="mainNav rightNav">
          <ul>
            <li id="navLogIn">
              <a href="#"><span>LOGIN</span></a>
            </li>
          </ul>
        </nav>

      </div>

      <!-- SIDEBAR CLASS -->
      <div class="sidebarLeft">
      </div>
      <!-- SIDEBAR CLASS -->
      <div class="sidebarRight">
      </div>

  		<!-- CONTENT CLASS -->
  		<div id="content">

          <form>
            <div class="group">
              <input type="text"
                    id="userNickname" class="field"
                    required autofocus>
              <span class="highlight"></span><span class="bar"></span>
              <label id="nickLabel"></label>
            </div>

            <div class="group">
              <input type="text"
                    id="userEmail" class="field"
                    required>
              <span class="highlight"></span><span class="bar"></span>
              <label id="emailLabel"></label>
            </div>

            <div class="group">
              <input type="password"
                    id="userPassword" class="field"
                    required>
              <span class="highlight"></span><span class="bar"></span>
              <label id="passwordLabel"></label>
            </div>

            <div id="confirmPasswordDiv" class="group" style="display: none">
              <input type="password"
                    id="userConfirmPassword" class="field"
                    required>
              <span class="highlight"></span><span class="bar"></span>
              <label id="confirmPasswordLabel"></label>
            </div>

            <div class="group">
              <button type="button"
                      class="button buttonGrey"
                      onclick="mainButtonClick()"
                      id="mainButton">
                <span class="ripples ripplesCircle"></span>
              </button>

              <div class="info">
                <p id="accountMessage"></p>
              </div>

              <button type="button"
                      class="button backgroundButton buttonOrange "
                      onclick="switchForms()"
                      id="alternativeButton">
                <span class="ripples ripplesCircle"></span>
              </button>
            </div>

            <div class="group">
              <p id="resultMessage"></p>
            </div>

            <div class="group">
              <p id="warningMessage"><a id="passwordRecover" href="./passwordRecovery.html"></a></p>
            </div>
          </form>

      </div>

      <!-- FOOTER CLASS -->
      <div id="footer">
        <a id="footerLink" href="./project.html">SensePi</a>
        <a id="footerSentence" href="https://informatica.ucm.es/" target="_blank">- a student's project for the FdI</a>
      </div>

    <!-- END WRAPPER CLASS -->
    </div>

  </body>
</html>
