<!DOCTYPE html>

<html>
<head>
  <title>Box Structure</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="../css/basic.css">
</head>

<body>
  <!-- WRAPPER CLASS -->
  <div id="wrapper">

      <!-- HEADER CLASS -->
        <div id="header">
          <nav class="mainNav">
          <ul>
            <li>
              <a href="#"><div id="navHome">HOME
              </div></a>
            </li>
            <li>
              <a href="./views/equipo.html"><div id="navTeam">TEAM
              </div></a>
            </li>
            <li>
              <a href="./views/details.html"><div id="navDetails">PROJECT
              </div></a>
            </li>
            <li>
              <a href="./views/contacto.html"><div id="navContact">CONTACT
              </div></a>
            </li>
            </ul>

            <nav class="mainNav rightNav">
            <ul>
              <li>
              <a href="./views/login.html"><div id="navLogIn">LOGIN
              </div></a>
              </li>
            </ul>
            </nav>
          </nav>
          </div>

        <!-- HEADER CLASS -->
        <div id="sidebar">
          <ul>
            <li>
              Hardware
            </li>

            <li>
              Servicios
            </li>

            <li>
              Configuraciones
            </li>

            <li>
              Tecnologias
            </li>
          </ul>
        </div>


        <!-- CONTENT CLASS -->
        <div id="content">
          



        </div>

        <!-- FOOTER CLASS -->
        <div id="footer">
          <p>INFORMACION DE PIE DE PAGINA PROFESIONAL CON EFECTOS CHACHIS</p>
        </div>

      <!-- END WRAPPER CLASS -->
      </div>

</body>
</html>
