<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/basic.css" />
    <link rel="stylesheet" type="text/css" href="../css/equipo.css"/>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
    <title id="webTitle"></title>
  </head>

  <body>
		<h3>Sergio Calero Robles</h3>
		<p>secalero@ucm.es</p>
		<IMG SRC="../images/sergio.jpg">
		<p>Intereses: Desarrollo de aplicaciones web, desarrollo de videojuegos, baloncesto y libros de ciencia ficci&oacute;n.</p>
  </body>
  

</html>