<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Team</title>
	<link rel="icon" type="image/png" href="../images/icons/zero.png" />
	<link rel="stylesheet" type="text/css" href="../css/basic.css">
	<link rel="stylesheet" type="text/css" href="../css/team.css">
	<script type="text/javascript" src="../js/basic.js"></script>
	<script type="text/javascript" src="../js/team.js"></script>
	<script type="text/javascript" src="../js/lit/lit-EN.js"></script>
</head>

<body>

	<!-- WRAPPER CLASS -->
	<div id="wrapper">

		<!-- HEADER CLASS -->
		<div id="header">

			<nav class="mainNav">
				<ul>
					<li id="navHome">
						<a href="../index.html"><span>HOME</span></a>
					</li>
					<li id="navTeam">
						<a href="./team.html"><span>TEAM</span></a>
					</li>
					<li id="Project">
						<a href="./project.html"><span>PROJECT</span></a>
					</li>
					<li id="navContact">
						<a href="./contacto.html"><span>CONTACT</span></a>
					</li>
				</ul>
			</nav>

			<nav class="mainNav rightNav">
				<ul>
					<li id="navLogIn">
						<a href="./login.html"><span>LOGIN</span></a>
					</li>
				</ul>
			</nav>

		</div>

		<!-- SIDEBAR CLASS -->
		<div class="sidebarLeft">
		</div>
		<!-- SIDEBAR CLASS -->
		<div class="sidebarRight">
		</div>


		<!-- CONTENT CLASS -->
		<div id="content">
			<div id="barraImagenes">
				<ul>
					<li> 
						<button onclick="switchMemberClick('Azahara')">
			  				<img src="../images/azahara.png">
			  				<span>
			  					Azahara
			  				</span>
			  			</button>
					</li>

					<li> 
						<button onclick="switchMemberClick('Diego')">
			    			<img src="../images/diego.png">
							<span>
								Diego
							</span>	
			    		</button>
					</li>

					<li> 
						<button onclick="switchMemberClick('Javier')">
							<img src="../images/javier.png">
							<span>
								Javier
							</span>
			    		</button>
					</li>

					<li>
						<button onclick="switchMemberClick('Julio')">
							<img src="../images/julio.png">
							<span>
								Julio
							</span>
			   			</button>
					</li>
					<li>
						<button onclick="switchMemberClick('Sergio')">
							<img src="../images/sergio.png">
							<span>
								Sergio
							</span>
			    		</button>
					</li>
				</ul>
			</div>

			<div id="Azahara" class="descripcionPersonal" style="display: none">
				<!-- Falta un script que cambie el texto segun la persona seleccionada -->
				<p>
					Azahara Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo.
					Donec fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce
					egestas sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas
					efficitur, neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas
					a purus vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget.
					Nulla consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<p>
					Maecenas ipsum neque, sagittis id porta ornare, convallis vehicula felis. Donec magna felis, volutpat eget feugiat ac, fermentum
					quis dui. Proin est augue, aliquet elementum orci sit amet, feugiat iaculis ante. Donec ante dolor, maximus cursus accumsan
					ac, ornare sed libero. Pellentesque tristique et sem non commodo.
				</p>

				<p>
					Duis eu nunc enim. Donec at nunc id tellus malesuada pharetra. Fusce ut leo vehicula, lacinia nunc at, mattis libero. Vivamus
					in orci mi. Proin nibh nibh, pharetra a fermentum vitae, laoreet quis nisi. Etiam lorem magna, hendrerit interdum ante
					vel, placerat convallis nunc. Cras eleifend ligula a augue bibendum, vitae pellentesque velit luctus. Phasellus porttitor
					aliquet est et cursus. Morbi cursus, orci a elementum vestibulum, odio tellus tristique tellus, vel lobortis enim nibh
					et tellus. Cras sit amet tincidunt eros, quis vulputate mauris. Morbi commodo bibendum ligula vel venenatis.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant morbi
					tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo. Donec
					fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce egestas
					sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas efficitur,
					neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas a purus
					vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget. Nulla
					consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<ul id="contactIcons">
					<li>
						<a href="https://github.com/RedParabola" target="_blank">
							<img src="../images/icons/git_icon.png">
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/search/str/Sergio%2BCalero%2BRobles/keywords_top" target="_blank">
						<img src="../images/icons/fb_icon.png">
						</a>
					</li>
				</ul>
			</div>

			<div id="Diego" class="descripcionPersonal" style="display: none">
				<!-- Falta un script que cambie el texto segun la persona seleccionada -->
				<p>
					Diego Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo.
					Donec fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce
					egestas sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas
					efficitur, neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas
					a purus vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget.
					Nulla consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<p>
					Maecenas ipsum neque, sagittis id porta ornare, convallis vehicula felis. Donec magna felis, volutpat eget feugiat ac, fermentum
					quis dui. Proin est augue, aliquet elementum orci sit amet, feugiat iaculis ante. Donec ante dolor, maximus cursus accumsan
					ac, ornare sed libero. Pellentesque tristique et sem non commodo.
				</p>

				<p>
					Duis eu nunc enim. Donec at nunc id tellus malesuada pharetra. Fusce ut leo vehicula, lacinia nunc at, mattis libero. Vivamus
					in orci mi. Proin nibh nibh, pharetra a fermentum vitae, laoreet quis nisi. Etiam lorem magna, hendrerit interdum ante
					vel, placerat convallis nunc. Cras eleifend ligula a augue bibendum, vitae pellentesque velit luctus. Phasellus porttitor
					aliquet est et cursus. Morbi cursus, orci a elementum vestibulum, odio tellus tristique tellus, vel lobortis enim nibh
					et tellus. Cras sit amet tincidunt eros, quis vulputate mauris. Morbi commodo bibendum ligula vel venenatis.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant morbi
					tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo. Donec
					fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce egestas
					sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas efficitur,
					neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas a purus
					vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget. Nulla
					consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<ul id="contactIcons">
					<li>
						<a href="https://github.com/RedParabola" target="_blank">
							<img src="../images/icons/git_icon.png">
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/search/str/Sergio%2BCalero%2BRobles/keywords_top" target="_blank">
							<img src="../images/icons/fb_icon.png">
						</a>
					</li>
				</ul>
			</div>

			<div id="Javier" class="descripcionPersonal" style="display: none">
				<!-- Falta un script que cambie el texto segun la persona seleccionada -->
				<p>
					Javier Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo.
					Donec fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce
					egestas sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas
					efficitur, neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas
					a purus vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget.
					Nulla consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<p>
					Maecenas ipsum neque, sagittis id porta ornare, convallis vehicula felis. Donec magna felis, volutpat eget feugiat ac, fermentum
					quis dui. Proin est augue, aliquet elementum orci sit amet, feugiat iaculis ante. Donec ante dolor, maximus cursus accumsan
					ac, ornare sed libero. Pellentesque tristique et sem non commodo.
				</p>

				<p>
					Duis eu nunc enim. Donec at nunc id tellus malesuada pharetra. Fusce ut leo vehicula, lacinia nunc at, mattis libero. Vivamus
					in orci mi. Proin nibh nibh, pharetra a fermentum vitae, laoreet quis nisi. Etiam lorem magna, hendrerit interdum ante
					vel, placerat convallis nunc. Cras eleifend ligula a augue bibendum, vitae pellentesque velit luctus. Phasellus porttitor
					aliquet est et cursus. Morbi cursus, orci a elementum vestibulum, odio tellus tristique tellus, vel lobortis enim nibh
					et tellus. Cras sit amet tincidunt eros, quis vulputate mauris. Morbi commodo bibendum ligula vel venenatis.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant morbi
					tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo. Donec
					fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce egestas
					sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas efficitur,
					neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas a purus
					vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget. Nulla
					consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<ul id="contactIcons">
					<li>
						<a href="https://github.com/RedParabola" target="_blank">
							<img src="../images/icons/git_icon.png">
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/search/str/Sergio%2BCalero%2BRobles/keywords_top" target="_blank">
							<img src="../images/icons/fb_icon.png">
						</a>
					</li>
				</ul>
			</div>

			<div id="Julio" class="descripcionPersonal" style="display: none">
				<!-- Falta un script que cambie el texto segun la persona seleccionada -->
				<p>
					Julio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo.
					Donec fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce
					egestas sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas
					efficitur, neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas
					a purus vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget.
					Nulla consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<p>
					Maecenas ipsum neque, sagittis id porta ornare, convallis vehicula felis. Donec magna felis, volutpat eget feugiat ac, fermentum
					quis dui. Proin est augue, aliquet elementum orci sit amet, feugiat iaculis ante. Donec ante dolor, maximus cursus accumsan
					ac, ornare sed libero. Pellentesque tristique et sem non commodo.
				</p>

				<p>
					Duis eu nunc enim. Donec at nunc id tellus malesuada pharetra. Fusce ut leo vehicula, lacinia nunc at, mattis libero. Vivamus
					in orci mi. Proin nibh nibh, pharetra a fermentum vitae, laoreet quis nisi. Etiam lorem magna, hendrerit interdum ante
					vel, placerat convallis nunc. Cras eleifend ligula a augue bibendum, vitae pellentesque velit luctus. Phasellus porttitor
					aliquet est et cursus. Morbi cursus, orci a elementum vestibulum, odio tellus tristique tellus, vel lobortis enim nibh
					et tellus. Cras sit amet tincidunt eros, quis vulputate mauris. Morbi commodo bibendum ligula vel venenatis.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant morbi
					tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo. Donec
					fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce egestas
					sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas efficitur,
					neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas a purus
					vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget. Nulla
					consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<ul id="contactIcons">
					<li>
						<a href="https://github.com/RedParabola" target="_blank">
							<img src="../images/icons/git_icon.png">
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/search/str/Sergio%2BCalero%2BRobles/keywords_top" target="_blank">
							<img src="../images/icons/fb_icon.png">
						</a>
					</li>
				</ul>
			</div>

			<div id="Sergio" class="descripcionPersonal" style="display: none">
				<!-- Falta un script que cambie el texto segun la persona seleccionada -->
				<p>
					Sergio Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant
					morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo.
					Donec fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce
					egestas sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas
					efficitur, neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas
					a purus vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget.
					Nulla consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<p>
					Maecenas ipsum neque, sagittis id porta ornare, convallis vehicula felis. Donec magna felis, volutpat eget feugiat ac, fermentum
					quis dui. Proin est augue, aliquet elementum orci sit amet, feugiat iaculis ante. Donec ante dolor, maximus cursus accumsan
					ac, ornare sed libero. Pellentesque tristique et sem non commodo.
				</p>

				<p>
					Duis eu nunc enim. Donec at nunc id tellus malesuada pharetra. Fusce ut leo vehicula, lacinia nunc at, mattis libero. Vivamus
					in orci mi. Proin nibh nibh, pharetra a fermentum vitae, laoreet quis nisi. Etiam lorem magna, hendrerit interdum ante
					vel, placerat convallis nunc. Cras eleifend ligula a augue bibendum, vitae pellentesque velit luctus. Phasellus porttitor
					aliquet est et cursus. Morbi cursus, orci a elementum vestibulum, odio tellus tristique tellus, vel lobortis enim nibh
					et tellus. Cras sit amet tincidunt eros, quis vulputate mauris. Morbi commodo bibendum ligula vel venenatis.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut nunc eu dui ullamcorper accumsan. Pellentesque habitant morbi
					tristique senectus et netus et malesuada fames ac turpis egestas. Sed ac est eu orci rhoncus viverra eu eget leo. Donec
					fermentum sagittis nibh a eleifend. Phasellus interdum ante eros, tincidunt tristique nisl venenatis vitae. Fusce egestas
					sem et ex consectetur, in convallis leo condimentum. Aliquam erat volutpat. Proin iaculis, neque non egestas efficitur,
					neque dolor rutrum orci, ac sollicitudin nisi quam non erat. Fusce vulputate id ante vitae tristique. Maecenas a purus
					vestibulum, ullamcorper massa at, porta nisi. Nunc rutrum luctus tortor, quis sollicitudin sem suscipit eget. Nulla
					consectetur erat eu ornare pharetra. Suspendisse in faucibus est. Donec dignissim tortor dolor, eget commodo turpis
					vulputate at.
				</p>

				<ul id="contactIcons">
					<li>
						<a href="https://github.com/RedParabola" target="_blank">
							<img src="../images/icons/git_icon.png">
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/search/str/Sergio%2BCalero%2BRobles/keywords_top" target="_blank">
							<img src="../images/icons/fb_icon.png">
						</a>
					</li>
				</ul>
			</div>

		</div>


      <!-- FOOTER CLASS -->
      <div id="footer">
        <a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html">SensePi</a>
        <a id="footerSentence" href="https://informatica.ucm.es/" target="_blank">, un proyecto de alumnos para la FdI</a>
      </div>

	<!-- END WRAPPER CLASS -->
	</div>

	</body>
</html>