<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title id="webTitle"></title>
    <link rel="icon" type="image/png" href="../images/icons/zero.png"/>
    <link rel="stylesheet" type="text/css" href="../css/basic.css">
    <link rel="stylesheet" type="text/css" href="../css/userView.css"/>
    <script type="text/javascript" src="../js/basic.js"></script>
    <script type="text/javascript" src="../js/lit/lit-EN.js"></script>
  </head>

  <body>

    <!-- WRAPPER CLASS -->
    <div id="wrapper">

      <!-- HEADER CLASS -->
      <div id="header">

        <nav class="mainNav">
          <ul>
            <li id="navHome">
              <a href="../index.html"><span>HOME</span></a>
            </li>
            <li id="navTeam">
              <a href="equipo.html"><span>TEAM</span></a>
            </li>
            <li id="navDetails">
              <a href="details.html"><span>PROJECT</span></a>
            </li>
            <li id="navContact">
              <a href="contacto.html"><span>CONTACT</span></a>
            </li>
          </ul>
        </nav>

        <nav class="mainNav rightNav">
          <ul>
            <li id="navLogIn">
              <a href="login.html"><span>LOGIN</span></a>
            </li>
          </ul>
        </nav>

      </div>

      <!-- SIDEBAR CLASS -->
      <div class="sidebarLeft">
      </div>
      <!-- SIDEBAR CLASS -->
      <div class="sidebarRight">
      </div>

      <!-- CONTENT CLASS -->
      <div id="content">

        <div class="sort">
          <label>Sort By:</label>
          <select>
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
          </select>
        </div>

        <div class="datatable">
          <table id="data">
            <thead>
              <th>Favorites</th>
              <th>Temp.</th>
              <th>Hum.</th>
              <th>Pop.</th>
              <th>Last update</th>
            </thead>
          </table>
        </div>

        <div class="recomendations">
          <legend>Recomendations</legend>
          <div class="panel">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
          <span>Provided by EMMA</span>
        </div>

        <div class="search">
          <fieldset>
            <legend>Search</legend>
            <label>By</label>
            <select>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
              <option value="option4">Option 4</option>
            </select>
            <input type="text" name="filter">
          </fieldset>
        </div>
      </div>

      <!-- FOOTER CLASS -->
      <div id="footer">
        <a id="footerLink" href="https://www.mundocero.tech/views/bitacora.html">SensePi</a>
        <a id="footerSentence" href="https://informatica.ucm.es/" target="_blank">, un proyecto de alumnos para la FdI</a>
      </div>

    <!-- END WRAPPER CLASS -->
    </div>

  </body>
</html>